@media (max-width: 480px){
    body {
        background-color: rgb(197,228,231);
        margin: 0px;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        color: rgba(104,119,122,255);
    }
    
    #appbody {
        width: 100%;
        background-color: rgba(255,255,255,255);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    #appheader {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color:rgba(63,101,102,255);
        letter-spacing: .3rem;
        font-size: 1.5rem;
    }
    .userInputContainer {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    #tipPercent {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .inputDiv {
        background-color: rgba(243,248,251,255);
        height: 50px;
        display:flex;
        align-items: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .inputIcon {
        height: 17px;
    }
    .inputModule {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden ;
        width: 100%;
        background-color: rgba(243,248,251,255);
        color: rgba(0,71,75,255);
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 2rem;
        text-align: right;
    }
    .inputModule:focus {
        outline: none;
    }
    #buttonGrid {
        margin-top: 5px;
        margin-bottom: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 15px;
    }
    .left-column {
        justify-self: left;
    }
    .right-column {
        justify-self: right;
    }
    .buttonDiv {
        width: 150px;
        background-color: rgba(0,71,75,255);
        color: rgba(224,254,255,255);
        border-radius: 5px;
        font-size: 1.5rem;
    }
    .tipAmountButton {
        height: 40px;
        width: 100%;
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    #customTip {
        background-color: rgba(243,248,251,255);
        color: rgba(0,71,75,255);
        text-align: right;
        border-radius: 5px;
        border: none;
        height: 40px;
        width: 150px;
        font-size: 1.5rem;
        box-sizing: border-box;
        padding-right: 15px;
    }
    #output {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0,71,75,255);
        color: rgba(224,254,255,255);
        border-radius: 10px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .outputModule {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .outputTotal {
        text-align: right;
        font-size: 1.8rem;
        color: rgba(38,194,173,255)
    }
    .darker {
        color: rgba(95,151,152,255)
    }
    #resetButton {
        background-color: rgba(38,194,173,255);
        color: rgba(0,71,75,255);
        border: none;
        width: 85%;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
    }
}

